PAYU_MERCHANT_KEY=
PAYU_MERCHANT_SALT=
PAYU_BASE_URL=https://test.payu.in/_payment
NEXT_PUBLIC_SITE_URL=https://www.elliesbotanics.com
PAYU_CONSULTATION_AMOUNT=
PAYU_CONSULTATION_PRODUCTINFO=Ayurvedic Consultation
LEADS_WEBHOOK_URL=
LEADS_WEBHOOK_SECRET=
